@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Roboto:wght@300&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-Roboto: "Roboto", sans-serif;
  --ff-Poppins: "Poppins", sans-serif;

  --poppins-light: 300;
  --poppins-semiBold: 600;
}

body {
  font-family: var(--ff-Poppins);
  color: white;
}

.wa_container {
  height: 55vh;
  width: 90%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(24, 43, 62, 0.5);
  border-radius: 10px;
  margin-top: 1em;
}

.wa_lowerContainer {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.wa_input {
  width: 100%;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #4f98cd;
}

::placeholder {
  color: #4f98cd;
}

.wa_inputContainer {
  display: flex;
  height: 30px;
  margin-bottom: 1.2em;
}

.wa_cityName {
  font-size: 3rem;
  line-height: 1;
  padding-bottom: 0.5em;
  color: rgb(241, 163, 60);
  border-bottom: solid 1px #4f98cd;
}

.wa_temperature {
  font-size: 1.5rem;
  font-family: var(--ff-Poppins);
}

.wa_tempAndIcon {
  display: flex;
  align-items: center;
  gap: 30px;
}

.wa_description,
.wa_speed,
.wa_country,
.wa_humidity {
  font-weight: var(--poppins-light);
  font-size: 1rem;
}

.wa_description {
  font-size: 1.3rem;
  font-weight: var(--poppins-semiBold);
}

.wa_section1 {
  display: flex;
  flex-direction: column;
}

.wa_icon {
  width: 80px;
}
/* -------Super small screen------- */
@media (max-width: 347px) {
  .wa_cityName {
    font-size: 2.5rem;
  }

  .wa_temperature {
    font-size: 1.4rem;
  }

  .wa_input {
    width: 100%;
  }
}
/* ----------Tablets-------------- */
@media (min-width: 768px) {
  .wa_container {
    width: 40%;
    height: 100%;
    justify-content: space-evenly;
  }

  .wa_input {
    width: 100%;
  }

  .wa_cityName {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
/*-------------- Desktops------------ */
@media (min-width: 1650px) {
  .wa_container {
    width: 30%;
    height: 90%;
    padding: 3em;
  }

  .wa_inputContainer {
    height: 40px;
    margin-bottom: 0;
  }

  .wa_cityName {
    font-size: 5rem;
    margin: 1rem 0;
  }

  .wa_temperature {
    font-size: 3rem;
  }

  .wa_description,
  .wa_speed,
  .wa_country,
  .wa_humidity {
    font-size: 1.2rem;
  }

  .wa_description {
    font-size: 1.5rem;
  }

  .wa_section2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
