*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/BG.jpg);
  background-size: cover;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 1024px) {
  .contents {
    flex-direction: row;
    justify-content: center;
    height: 65vh;
    gap: 15px;
  }
}

@media (min-width: 1550px) {
  .contents {
    gap: 30px;
  }
}
